@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    opacity: 0;
    color: #F3F4F6;
    font-family: "Montserrat", sans-serif;
    animation: fadeIn 1.5s ease-in-out forwards;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 1.4rem;
}

body * {
    overflow-y: auto;
    overflow-x: hidden;
}

@keyframes fadeIn {
    to {
      opacity: 1;
    }
  }

a {
    color: #3394a6;
    text-decoration: none;
}

#nav-bar {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    margin: 0px;
    box-sizing: border-box;
    padding: 7px;
}

.nav-links {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

#nav-bar  a{
    padding: 10px 15px;
    text-align: center;
    color: #F3F4F6;
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    width: min-content;
    border-right: #F3F4F6;
    white-space: nowrap;
}

#nav-bar  a:hover {
    transition: 0.5s;
    background-color: #2f3947;
}

.logo > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#copyright {
    font-size: 0.9rem;
    font-style: italic;
    text-align: center;
    color: #1F2937;
}